 @font-face {
    font-family: "TwitterChirp";
    src: url("../fonts/chirp-regular-web.woff") format("woff2"),
         url("../fonts/chirp-bold-web.woff") format("woff"),
         url("../fonts/chirp-heavy-web.woff") format("woff");
}

html{
    font-family: TwitterChirp, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
    box-sizing: border-box;
}

:root{
    --twitter-theme-color: #50b7f5;
    --twitter-background-color: rgb(41, 51, 54);
    --text-color : rgb(231, 231, 231);
    --hover-color : rgb(24, 24, 24);
    --background-color : rgb(0, 0, 0);
    --background-color-2: rgb(22,  24, 28);
    --header-background-color : none;
    --secleted-background-color : rgb(14, 14, 14);;
}

.nav_logo{
    width: 50px;
    height: 30px;
    color: var(--twitter-theme-color);
    fill: currentColor;
}

.Menu_options{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.Menu_options .material-icons{
    padding: 20px;
    color: var(--text-color);
}

.Menu_options h2{
    color: var(--text-color);
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}

.Menu_options a{
    text-decoration: none;
}

.secleted-h2{
   background-color: var(--secleted-background-color);
   border-radius: 30px;
   box-shadow: 2px 5px 1px var(--hover-color) inset;
}

.Menu_options:hover{
    background-color: var(--hover-color);
    border-radius: 30px;
    color: var(--text-color);
}

body{
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    background-color: black;
}

nav{
    flex: 0.2;
    border-right: 1px solid var(--twitter-background-color);
    min-width: 250px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
    padding-top: 20px;
}

/* == menu section */

main{
    flex: 0.6; 
    border-right: 1px solid var(--twitter-background-color);
    min-width: fit-content;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

.header{
    display: flex;
    align-items: center;
    height: 50px;
    color: var(--text-color);
    position: sticky;
    top: 0;
    background-color: var(--header-background-color);
    z-index: 10;
    border-bottom: 1px solid var(--twitter-background-color);
    padding: 6px 20px;
    backdrop-filter: blur(10px);

}

main::-webkit-scrollbar{
    display: none;

}

body::-webkit-scrollbar{
    display: none;

}

.header h2{
    font-weight: bold;
    font-size: 20px;
}

.post_profile-image img{
    border-radius: 50%;
    height: 40px;

}

.post{
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background-color);
    padding-bottom: 10px;
    color: var(--text-color);
}

.post_body img{
    width: 450px;
    object-fit: contain;
    border-radius: 20px;

}

.post_footer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;


}

.post_badge{
    font-size: 14px !important;
    color: var(--twitter-theme-color);
    margin-right: 5px;

}

.header-icon-section{
    font-weight: 600;
    font-size: 12px;
    color: grey;
}

.post_header-text{
    display: flex;
    align-items: center;
}

.post_header-text h3{
    flex: 9;
    font-size: 20px;
    margin-bottom: 5px;

}

.post_header-text a{
    flex: 1;
    margin-top: 20px;
    color: var(--text-color);
}

.post_header-discription{
    margin-bottom: 10px;
    font-size: 15px;
}

.post_body{ 
    flex: 1;
    padding: 10px;
}

.post_profile-image{
    padding: 20px;
}


/* == aside  */

aside{
    display: flex;
    flex-direction: column;
    flex: 0.2; 
}

.aside_container{
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: var(--background-color-2);
    border-radius: 20px;
}

.aside_container h2{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 800;
}

.header .material-icons{ 
    display: none;
}
.mobile-logo {
    display: none;
}

@media only screen and (max-width: 960px) {
    body{
        flex-direction: column;
        padding: 0 0;
    }
    .Menu_options h2 {
        display: none;
    }
    aside{
        flex: 0;
        display: none;
    }
    main{
        flex: 1;
    }
    nav{
        display: none;
        flex: 0;
    }
    .post{
        padding: 0 10px;
    }
    .header h2{
        display: none;
    }
    .header .material-icons{ 
        display: block;
    }
    .header{
        justify-content: space-between;
        height: 70px;
    }
    .header a{
        color: var(--text-color);
        text-decoration: none;
    }
    .secleted-a{
        text-decoration: underline var(--text-color) !important;
    }
    .mobile-logo{
        display: block;
        margin: 20px 30px;
        border-bottom: 1px solid var(--twitter-background-color);
    }

@media only screen and (max-width: 550px) {
    .post_profile-image{
        display: none;
        }
    }

}